asgiref==3.8.1
beautifulsoup4==4.13.3
certifi==2025.1.31
cffi==1.17.1
channels==4.2.0
charset-normalizer==3.4.1
Django==5.1.6
django-redis==5.4.0
grpcio==1.70.0
grpcio-tools==1.70.0
idna==3.10
JSON-log-formatter==1.1
multidict==6.1.0
Naked==0.1.32
pillow==11.1.0
propcache==0.3.0
protobuf==5.29.3
psycogreen==1.0.2
psycopg2-binary==2.9.10
pycparser==2.22
pycryptodome==3.21.0
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
redis==5.2.1
requests==2.32.3
setuptools==75.8.1
shellescape==3.8.1
six==1.17.0
soupsieve==2.6
sqlparse==0.5.3
typing_extensions==4.12.2
urllib3==2.3.0
wheel==0.45.1
yarl==1.18.3
